.header{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}
.nav {
    margin-top: 10px;
    align-items: right;
    background-color: blanchedalmond;
    padding: 10px;
    
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}