<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
</head>
<body>
    <div class="header">
        <a href="{{ url_for('dashboard') }}"><h2>Welcome to Pulse-HMS!</h2></a>
    </div>
    <br>
    <h1>Welcome to the Dashboard</h1>
    <p style="color: green;">
        {% if user_success %}
            {{ user_success }}
        {% endif %}
    <p>This is a protected area accessible only to logged-in users.</p>
    <p>You can add dashboard functionalities here, such as displaying user-specific information, providing access to different sections of the application, etc.</p>
    <a href="{{ url_for('admin_portal') }}">Go to Admin Portal</a><br><br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>