<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors</title>
</head>
<body>
    <h1>Doctors</h1>
    {% if admin %} <!-- Show add doctor link only to admins -->
    <a href="{{ url_for('add_doctor') }}">Add Doctor</a>
    {% endif %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Specialization</th>
                <th>Department</th>
                <th>license_number</th>
                <th>availability</th>
                <th>experience</th>
                <th>room_number</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
            <tr>
                <td>{{ doctor[1] }}</td>
                <td>{{ doctor[2] }}</td>
                <td>{{ doctor[3] }}</td>
                <td>{{ doctor[4] }}</td>
                <td>{{ doctor[5] }}</td>
                <td>{{ doctor[6] }}</td>
                <td>{{ doctor[7] }}</td>
                <td>{{ doctor[8] }}</td>
                <td>{{ doctor[9] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>