<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <title>Index</title>
</head>
<body>
    <div class="header">
        <h2>Welcome to Pulse-HMS!</h2>
    </div>
    <br>
    <div class="login-container">
        <p>This is the home page of the Hospital Management System.</p>
        <div class="nav">
            <a href="{{ url_for('login') }}" class="btn"><button type="button" class="btn btn-success">Login/signup</button></a>
        </div>
        {% if request.args.get('success') %}
            <p class="success-message">{{ request.args.get('success') }}</p>
        {% endif %}
    </div>
</body>
</html>