<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>patient</title>
</head>
<body>
    <h1>Welcome to the patient page</h1>
    <p>This is a protected area accessible only to logged-in users.</p>
    <p>You can add patient functionalities here, such as displaying patient-specific information, providing access
    to different sections of the application, etc.</p>
    <a href="{{ url_for('dashboard') }}">Go to Dashboard</a><br><br>
</body>
</html>