<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tests</title>
</head>
<body>
    <h2>Available Tests</h2>

<table border="1">
    <tr>
        <th>Test Name</th>
        <th>Price</th>
        {% if admin %}
        <th>Actions</th>
        {% endif %}
    </tr>

    {% for test in tests %}
    <tr>
        <td>{{ test[1] }}</td>
        <td>{{ test[2] }}</td>

        {% if admin %}
        <td>
            <!-- <a href="/edit_service/{{ test[0] }}">Edit</a>
            <a href="/delete_service/{{ test[0] }}">Delete</a> -->
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</body>
</html>